body {
    background-image: url("lesson2express.png");
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: center center;  
    color: yellow;
}